# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore local-only module directories
sites/all/modules/local

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

# Ignore subversion, cvs, etc
*.svn
*.cvs

# Ignore junk files
*~
.swp*
.DS_Store
.classpath
.project
nbproject

# Ignore sites/all modules, etc
sites/*
