# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

# Ignore subversion, cvs, etc
*.svn
*.cvs

# Ignore junk files
*~
.swp*
.DS_Store
.classpath
.project
nbproject
